<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onet.com.admin.dao.AdminDao">

<!-- 재훈 - 10.08 문제분류관련 시작 -->

<select id="lgCategoryList" parameterType="hashmap" resultType="onet.com.vo.CategoryDto">
	select * from question_lg_category
</select>
<select id="mdCategoryList" parameterType="hashmap" resultType="onet.com.vo.CategoryDto">
	select * from question_md_category
</select>
<select id="smCategoryList" parameterType="hashmap" resultType="onet.com.vo.CategoryDto">
	select * from question_sm_category
</select>

<!-- 재훈 - 10.08 문제분류관련 끝 -->

<!-- 영준 - 10.10 회원관리 관련 시작 -->
<select id="memberList" parameterType="hashmap" resultType="onet.com.vo.MemberDto">
	select class_name, member_id, member_name, member_email,
	member_phone, member_enable from member
</select>

<!-- 영준 - 10.10 회원관리 관련 끝 -->


<!-- 민지 10.12 클래스멤버리스트 ,클래스 리스트 관련  -->
<select id="classMemberList" parameterType="hashmap" resultType="onet.com.vo.MemberDto">
	select class_name, member_id, member_name, member_email,
	member_phone, member_enable from member where class_name="109기"
</select>

<select id="classList" parameterType="hashmap" resultType="onet.com.vo.ClassDto">
	select class_name, member_id, class_start_date,class_end_date,class_enable
	 from class
</select>
<!-- 클래스 멤버 수정 -->
 <update id="classMemberUpdate" parameterType="onet.com.vo.MemberDto">
 UPDATE member SET member_email=#{member_email}, member_phone=#{member_phone} where member_id=#{member_id}
 </update>

<!-- 민지 10.12 클래스멤버리스트 관련 끝 -->
</mapper>
