<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onet.com.common.dao.CommonDao">
<!-- 한결 10월 12일 공지사항 및 시험일정(강사 학생 메인페이지) 시작 -->
<select id="notice" parameterType="onet.com.vo.NoticeDto" resultType="onet.com.vo.NoticeDto">
	select * from notice n, class c where n.class_name=c.class_name and class_num=#{class_num} ;
</select>
<select id="exam_info" parameterType="onet.com.vo.Exam_infoDto" resultType="onet.com.vo.Exam_infoDto">
	select * from exam_info ex, class c  where ex.class_name = c.class_name and class_num=#{class_num};
</select>
<!-- 한결 10월 12일 공지사항 및 시험일정(강사 학생 메인페이지) 끝 -->
</mapper>