<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onet.com.teacher.dao.TeacherDao">
<!-- 한결 : 강사 문제 리스트 불러오기 시작-->
<select id="question" parameterType="hashmap" resultType="onet.com.vo.QuestionDto">
	select question_num, question_type,question_name, question_img,question_answer,question_correct_ratio,question_select_count, sm_category_code,
   (select sm_category_name from question_sm_category where sm_category_code = question.sm_category_code) as 'sm_category_name',
   (select md_category_name from question_md_category where md_category_code = (select md_category_code from question_sm_category where sm_category_code = question.sm_category_code)) as 'md_category_name',
   (select lg_category_name from question_lg_category where lg_category_code = (select lg_category_code from question_md_category where md_category_code = (select md_category_code from question_sm_category where sm_category_code = question.sm_category_code))) as 'lg_category_name',
   (select level_name from question_level where level_code = question.level_code) as 'level_name',
   member_id
   from question
</select>
<select id="question_choice" parameterType="hashmap" resultType="onet.com.vo.Question_choiceDto">
	select * from question_choice
</select>
<!-- 한결 : 강사 문제 리스트 불러오기 끝-->

<!-- 영준 10.16 내 시험지 리스트 불러오기 시작 -->
<select id="examPaperList" parameterType="onet.com.vo.ExamPaperDto" resultType="onet.com.vo.ExamPaperDto">
	select * from exam_paper 
	where member_id = (select member_id from member_role where member_id in 
	(select m.member_id from member m, class c where  c.class_num=#{class_num} and c.class_name=m.class_name) and role_code='role_teacher');
</select>
<!-- 영준 10.16 내 시험지  리스트 불러오기 끝 -->

<!-- 영준 10.17 내 시험지  삭제 시작 -->
<delete id="examPaperDelete" parameterType="onet.com.vo.ExamPaperDto">
	DELETE FROM exam_paper
	WHERE exam_paper_name=#{exam_paper_name}
</delete>
<!-- 영준 10.17 내 시험지  삭제 끝 -->

<!-- 영준 10.16 시험 일정 리스트 불러오기 시작 -->
<select id="examScheduleList" parameterType="onet.com.vo.ExamInfoDto" resultType="onet.com.vo.ExamInfoDto">
	SELECT exam_info_name, exam_info_date, exam_info_start, exam_info_end, exam_info_time, exam_info_member
	FROM exam_info
</select>
<!-- 영준 10.16 시험 일정 리스트 불러오기 끝 -->
</mapper>

