@charset "UTF-8";

.table_heading {
	padding: 15px;
	background-color: #4ECDC4;
	color:#FFF;
}

button.add {
	float: right;
	margin-bottom: 10px;
}

button.modalButton {
	float: right;
	right: 15px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#lgCatModalPop {
	height: 250px;
}

#mdCatModalPop, #smCatModalPop {
	height: 300px;
}


#lgCatAddForm, #mdCatAddForm, #smCatAddForm {
	margin-top: 10px;
}

.form-control{
	width:100%;
}