
/*****민지*******/
#messagebox {
	margin-top: 0px;
}

#messageTable {
	padding-left: 10%;
	padding-right: 10%;
}
#sendMessageform {
	padding-left: 15%;
	padding-right: 5%;
}
.checkName {
	height: 500px;
	overflow: auto;
}
#messageform {
	padding-left: 10%;
	padding-right: 5%;
}
#messageBtn{
	    text-align: right;
}

.examstudent {
	margin-left: 10%;


}
.messagepanel{
	height:800px;
}
/****************/