@charset "UTF-8";
/* 현이 - 시험지 만들기 페이지 css */
.makeExamSelectCategory {
	width: 18.5%;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.makeExamTextField {
	width: 78%;
	margin-right: 5px;
	display: inline-block;
}

#makeExamSelectBtn {
	width: 20%;
}

.questionDiv {
	margin-bottom: 30px;
}

#pickQuestionBtn {
	margin-right: 5%;
	width: 15%;
}

.questionScoreInputTag {
	width: 15%;
	display: inline-block;
}

.questionImg {
	width: 50%;
}

#leftMakeExamDiv, #rightMakeExamDiv {
	overflow: scroll;
	height: 500px;
}

.questionRowBtnDiv {
	margin-top: 20px;
}

.pickQuestionBtnDiv, .makeExamBtnDiv {
	text-align: center;
}

.makeExamFirstRow {
	height: 100px;
}

.makeExamFirstRow #makeExamFirstRowText {
	vertical-align: middle;
}

#makeExamFirstRowText {
	font-size: 16px;
	padding-left: 5%;
}

.upsideContentPanel {
	margin-bottom: 20px;
}

.examPaperModifyRowDiv {
	margin-bottom: 10px;
	padding-right: 20px;
}

.examPaperModifySubject {
	padding-top: 10px;
	text-align: right;
	font-size: 16px;
}
/* 한결 : 배점 위치 지정 */
.qscore{
	margin-top:10px;
	padding-left:10px;
}