@charset "UTF-8";
/* 현이 - 시험지 만들기 페이지 css */
.makeExamSelectCategory {
	width: 18.5%;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.makeExamTextField {
	width: 78%;
	margin-right: 5px;
	display: inline-block;
}

#makeExamSelectBtn {
	width: 20%;
}

.questionDiv {
	margin-bottom: 30px;
}

#pickQuestionBtn {
	margin-right: 5%;
	width: 15%;
}

.questionScoreInputTag {
	width: 15%;
	display: inline-block;
}

.questionImg {
	width: 80%;
}
.questionChoiceImg {
	width: 90%;
}

#leftMakeExamDiv, #rightMakeExamDiv {
	overflow: scroll;
	height: 500px;
}

.questionRowBtnDiv {
	margin-top: 20px;
}

.pickQuestionBtnDiv, .makeExamBtnDiv {
	text-align: center;
}

.makeExamFirstRow {
	height: 100px;
}

.makeExamFirstRow #makeExamFirstRowText {
	vertical-align: middle;
}

#makeExamFirstRowText {
	font-size: 16px;
	padding-left: 5%;
}

.upsideContentPanel {
	margin-bottom: 20px;
}

.examPaperModifyRowDiv {
	margin-bottom: 10px;
	padding-right: 20px;
}

.examPaperModifySubject {
	padding-top: 10px;
	text-align: right;
	font-size: 16px;
}
/* 한결 : 배점 위치 지정 */
.qscore{
	margin-top:10px;
	padding-left:10px;
}
.dpn{
	display:none;
}

.questionInfo{
	font-size:13px;
}


/*태용 시작*/

#page{
	width: 793px;
  	height: 1122px;
	column-count : 2;
	column-rule-style: solid;
	column-rule-width: 1px;
	background: white;
	margin: 1cm auto;
	padding: 2cm;
	border-radius: 5px;
}
#page table {
	margin-bottom : 50px;
	margin-right : 20px;
	margin-left : 5px;
}
#page table tr:first-child td{
	font-weight: bold;
}
td {
	vertical-align : top;
	padding : 2px;
}
#all{
	column-span : all;
}
.endline{
	page-break-before:always;
}
h3.logo {
	font-size: 24px;
	color: #000000;
	text-transform: uppercase;
}

h3.logo span {
	color: #4ECDC4;
}
.left-box{
	float : left;
}
.right-box{
	float : right;
}