@charset "UTF-8";

#noticeViewBox{
margin-top:50px;
margin-left:200px;
margin-right:200px;
margin-bottom:50px;
}

div.noticeContent{
padding-top:10px;
padding-left:40px;
padding-right:40px;
padding-bottom:10px;
}

#commentSubmit{
margin-top:10px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
}

#commentWriter{
margin-top:10px;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
}

div.noticeView_Comments_1{
/* height:50px; */
margin-top:10px;
margin-bottom:10px;
}

div.noticeView_Comments_2{
/* height:50px; */
margin-top:5px;
margin-left:15px;
margin-bottom:10px;
}

div.noticeView_CommentsWrite{
margin-top:50px;
margin-bottom:20px;
height:100px;
/* border:gray 1px solid; */
}

textarea {
    resize: none;
}

/* 현이 css 추가 */
.noticeDetailBtnDiv {
	text-align: center;
}

.noticeDetailWriterDiv {
	margin-right: 5%;
}