
    .dataTables_filter, .dataTables_empty, .dataTables_paginate{
	display: none;
}

#page {
  width: 793px;
  height: 1122px;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-flow:column wrap;
  text-overflow:clip;
}
/* 
@media print {
  #page {
  	
  }
  	.test {
		width : 45%;
		height : 260 px;
		margin-bottom : 50px;
		margin-right : 20px;
	}
	td {
		vertical-align : top;
		padding : 2px;
	}
	th {
		vertical-align : top;
		padding-bottom : 15px;
	}
} */
#page table {
	width : 45%;
	margin-bottom : 50px;
	margin-right : 20px;
}
td {
	vertical-align : top;
	padding : 2px;
}
th {
	vertical-align : top;
	padding-bottom : 15px;
}

#print-modal {
    border: 1px solid #ccc;
    border-radius: 8px;
    top: 15px;
    left: 50%;
    margin: 0 0 0 -81px;
    position: fixed;
    padding: 5px 0;
    background: rgba(250, 250, 250, 0.75);
}