@charset "UTF-8";

#div_notice {
	width: 80%;
	margin: 0 auto;
}

#notice_H2 {
	text-align: center;
}

#notice_Table {
	text-align: center;
}

#noticebtn {
	float: right;
}

#div_examinfo {
	width: 80%;
	margin: 0 auto;
}

#examinfo_H2 {
	text-align: center;
}

#exam_info_Table {
	text-align: center;
}
/* datatables 수정 */
.dataTables_length, .dataTables_info {
	display: none;
}
.dataTables_paginate {

	margin:0 auto;
}