<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="onet.com.teacher.dao.TeacherDao">



<select id="examPaperList" resultType="onet.com.vo.ExamPaperDto">
	select * from exam_paper where member_id = (select member_id from member_role where member_id in (select m.member_id from member m, class c where  c.class_num=#{class_num} and c.class_name=m.class_name) and role_code='role_teacher');
</select>

</mapper>