<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <style type="text/css">
   #outlook a {
  padding: 0;
}

.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass * {
  line-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table,
td {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}



@media only screen and (min-width:480px) {
  .email-col-17 {width: 17%!important;}
  .email-col-25 {width: 25%!important;}
  .email-col-33 {width: 33%!important;}
  .email-col-50 {width: 50%!important;}
  .email-col-67 {width: 67%!important;}
  .email-col-100 {width: 100%!important;}
}

@media only screen and (max-width:480px) {
  img.fullwidth { max-width: 100% !important; }
}

  </style>
<!--[if mso]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
<!--[if lte mso 11]>
<style type="text/css">
  .outlook-group-fix {
    width:100% !important;
  }
</style>
<![endif]-->

<!--[if !mso]><!--><link href="https://fonts.googleapis.com/css?family='Do+Hyeon':400,700" rel="stylesheet" type="text/css">
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
</style><link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
</style><!--<![endif]-->

</head>

<body width="100%" bgcolor="#ffffff" style="margin: 0; mso-line-height-rule: exactly; background-color: #ffffff; ">

<div style="position:relative; width:60%; background-color: #f6f6f6;padding: 30px; background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); ">
    <table bgcolor="#f6f6f6" style="width:100%; text-align: center;">
        <tr>
            <td colspan="2" style="padding:10px; ">
                <div style="border:1px solid grey; border-radius: 100px; box-shadow: 10px 10px grey; width:200px; text-align: center; margin:10px 0 10px 40%;">
                    <h1 style="padding:5px 20px;; font-size: 45px;">
                        <span style="font-family: 'Impact', sans-serif;">QB</span><span style="margin: 10px 0; color:#063f54;font-family: 'Impact', sans-serif;">QB</span>
                    </h1>
                </div>
            </td>
            
        </tr>
        <tr style="font-size: 18px">
            
            <td style="width:50%;">
                <div style="margin-top:10px;">
                    안녕하세요 <b>${firstName}</b>님,<br>저희 <b>${company}</b>를 이용해 주셔서<br> 진심으로 감사합니다.<br><br>
                    <b style="color:#063f54">'인증 번호'</b>를 입력하신 후 진행해주세요<br><br>
                    앞으로 더욱 발전하는 <b>${company}</b>가 되도록 하겠습니다.<br>
                    감사합니다.
                </div>
            </td>
            <td style="width:50%;">
                <div style="width:200px; border-top:1px solid black; border-bottom:1px solid black; text-align: center; padding:10px; margin-left:30%">
                    인증 번호 : <b style="color:#063f54; font-size: 20px;">${randomNum}</b>
                </div>
            </td>
            
        </tr>
        <tr style="">
            <td colspan="2" style="margin:10px;">
                <span style="font-size: 12px; float: right;font-family: 'Book Antiqua', sans-serif;">&copy; Project by One_T</span>
            </td>
        </tr>
    </table>
        
</div>

</body>

</html>

