<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <style type="text/css">
    #outlook a {
  padding: 0;
}

.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass * {
  line-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table,
td {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}



@media only screen and (min-width:480px) {
  .email-col-17 {width: 17%!important;}
  .email-col-25 {width: 25%!important;}
  .email-col-33 {width: 33%!important;}
  .email-col-50 {width: 50%!important;}
  .email-col-67 {width: 67%!important;}
  .email-col-100 {width: 100%!important;}
}

@media only screen and (max-width:480px) {
  img.fullwidth { max-width: 100% !important; }
}

  </style>
<!--[if mso]>
<xml>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
</xml>
<![endif]-->
<!--[if lte mso 11]>
<style type="text/css">
  .outlook-group-fix {
    width:100% !important;
  }
</style>
<![endif]-->

<!--[if !mso]><!--><link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet" type="text/css">
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
</style><link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
</style><!--<![endif]-->

</head>

<body width="100%" bgcolor="#ffffff" style="margin: 0; mso-line-height-rule: exactly; background-color: #ffffff; ">

<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid #02b875; margin: 100px auto; padding: 30px; box-sizing: border-box; background-color: #F6F6F6;">
	<div>
        <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
		<span style="font-size: 15px; margin: 0 0 10px 3px;">${company}</span><br />
		<span style="color: {$point_color};">임시 비밀번호</span> 안내입니다.
	   </h1>
    </div>
    <div>      
        <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
            안녕하세요. ${firstName} 님<br />
            저희 <b>${company}</b>를 이용해 주셔서 진심으로 감사합니다.<br />
            <br />
            요청하신 <b style="color: #02b875;">'임시 비밀번호'</b> 를 보내드립니다.<br />
            임시 비밀번호로 로그인 하신 후<br /> 개인 정보를 수정해 주시기 바랍니다.<br /><br />
            앞으로 더욱 발전하는 <b>${company}</b>가 되도록 하겠습니다.<br />감사합니다.
        </p>
    </div>
    <div style="text-align: center; border: 3px solid #02b875; border-radius: 8px; width: 70%; margin: 30px auto; padding:10px;">
        
            <p style="font-size: 20px;">임시 비밀번호 : <b>${randomNum}</b></p>
        
    </div>
	<div style="margin:10px;">
		<p style="line-height: 21px; text-align: center;">

            <a href="http://localhost:8090/qb/">
			<button style="margin: 30px 0 0 0; padding: 0 40px; border-radius: 10px; background-color: #0B6138; height:40px;"><p style="font-size: 20px; color: aliceblue; font-family: 'Fira Sans', sans-serif;">go to QBQB</p></button></a>
		</p>
	</div>
</div>

</body>

</html>

